@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-VariableFont_slnt,wght.ttf') format('ttf'),
         url('fonts/Inter-VariableFont_slnt,wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
  
body {
    font-family: 'Inter', sans-serif;
}
.container {
    position: relative;
}
.header{
    background-color: white;
    margin: 30px;
}
.main-content {
    flex: 1;
    padding: 20px;
}
.shop-box{
    margin: 50px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Style the links in the sidebar */
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 40px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.sidebar a:hover {
    color: #ff4500; /* Change the color on hover */
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 100px;
    position: fixed;
    bottom: 0;
    width: 30px;
}
